<launch>
  <!-- Argument per al model de robot (per defecte Waffle) -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Argument per a la posició inicial del robot -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  
  <arg name="yaw" default="2.9"/> <!--  (graus)  -->

  <!-- Incloure el món creat (habitacion.world) -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tfm_simulation)/worlds/habitacion.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Carregar la descripció del robot (Waffle) -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Llançar el model del robot en la posició especificada -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />
</launch>

